*{
    margin: 0%;
    padding: 0%;
}
body{
    background: linear-gradient(to right, #39df07,#6eec06,#d7ee07,#e9b303);
}

.cabecalho{
    background-color: aqua;
    padding: 30px;
    text-align: center;
}